.survey-matrix_table.n-table {
  overflow: visible !important;
}
.survey-matrix_cell {
  white-space: normal !important;
  text-align: center;
  font-weight: 600;
}
.survey-matrix_cell:first-of-type {
  min-width: 250px;
  max-width: 400px;
  position: sticky;
  left: 0px;
  z-index: 99;
  text-align: left;
}
.survey-matrix_cell:not(:first-of-type) {
  min-width: 200px;
  max-width: 350px;
}

.survey-matrix_table_header .survey-matrix_cell .survey-title {
  width: 100%;
  padding: 6px;
  text-align: center;
  font-weight: 600;
}
