.side-bar-category_container .n-collapse-item__content-inner {
  padding: 0px !important;
}
.side-bar-category_container .n-collapse-item {
  margin: 0px !important;
}

.side-bar-category_container .n-collapse-item__header-main {
  padding-bottom: 0.75rem;
  padding-inline: 0.75rem;
}
