@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .m-w-half {
    max-width: 50%;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root,
body,
#app {
  height: 100%;
}

.survey-app input .survey-app select {
  border: none !important;
}

.n-button {
  background-color: var(--n-color);
}
#app {
  color: #213547;
}
@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

.survey-question-title:empty {
  display: none;
}

.survey-question_text.variant-standard .n-input__border,
.survey-question_text.variant-standard .n-input__state-border {
  border-top: transparent !important;
  border-left: transparent !important;
  border-right: transparent !important;
  box-shadow: none !important;
  border-radius: 0px;
}

.survey-question_text.variant-standard .n-input {
  background-color: transparent;
}

.survey-table.n-table {
  overflow: visible !important;
}
.survey-table thead .survey-table-cell {
  padding: 8px;
  text-align: center;
  font-weight: 600;
}
.survey-table thead .survey-title {
  margin: 6px;
}

.survey-table-cell {
  white-space: normal !important;
  text-align: center;
  font-weight: 600;
}
.survey-table-cell-rowTitle {
  position: sticky;
  left: 0px;
  z-index: 99;
  text-align: left;
}
.survey-sideBar-itemRow_input {
  border: 2px solid transparent;
  align-self: stretch;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.6rem;
  padding-left: 0px;
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
}
.survey-sideBar-itemRow_input:focus {
  border-color: #18a058;
}

.survey-question-wrapper {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 0.125rem;
}
.survey-question-panel-container .survey-question-wrapper {
  padding: 0;
}

.survey-creator-container .survey-question-cell-container:hover,
.survey-creator-container .survey-question-wrapper:hover {
  box-shadow: 0 0 0 2px rgba(255, 152, 20, 0.2);
}
.survey-question-wrapper_footer {
  visibility: hidden;
}
.survey-question-wrapper.active .survey-question-wrapper_footer,
.survey-question-wrapper:hover .survey-question-wrapper_footer {
  visibility: visible;
}
.survey-creator-container .survey-question-cell-container.active,
.survey-creator-container .survey-question-wrapper.active {
  box-shadow: 0 0 0 2px rgba(255, 152, 20);
}

/* select */
.survey-question-select-options-container {
  margin-top: 0.375rem;
  width: 100%;
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
}
.survey-question-select-options-container.inline {
  flex-wrap: wrap;
  column-gap: 1.5rem;
  flex-direction: row;
}
.survey-question-select-otherText {
  margin-top: 0.6rem;
}
.survey-question-select-otherText.indent {
  --ml: 2rem;
  margin-left: var(--ml);
  width: calc(100% - var(--ml)) !important;
}
