@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .m-w-half {
    max-width: 50%;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root,
body,
#app {
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.survey-table.n-table {
  overflow: visible !important;
}
.survey-table thead .survey-table-cell {
  padding: 12px;
  text-align: center;
  font-weight: 600;
}
.survey-table thead .survey-title {
  margin: 6px;
}

.survey-table-cell {
  white-space: normal !important;
  text-align: center;
  font-weight: 600;
}
.survey-table-cell-rowTitle {
  position: sticky;
  left: 0px;
  z-index: 99;
  text-align: left;
}
.survey-sideBar-itemRow_input {
  border: 2px solid transparent;
  align-self: stretch;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.6rem;
  padding-left: 0px;
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
}
.survey-sideBar-itemRow_input:focus {
  border-color: #18a058;
}
